

-- Window: @WeekBack weekly buckets of history plus @WeekForward forward
-- buckets, anchored on the current week's Sunday (the current week counts as
-- forward bucket #1). Ends on the Saturday of the last forward bucket.
--   @WeekBack    = 52 : history rows only establish which SKU x customer pairs
--                       exist (a pair projected in the past year but with no
--                       future rows must still be flagged "missing forward");
--                       the missing-projections window itself is 15 weeks.
--   @WeekForward = 26 : matches the horizon of the manual PowerBI exports, so
--                       pairs whose only projections sit 16-26 weeks out stay
--                       in the pair universe (downstream clips to 15 weeks).
declare @CurrentSunday date, @StartSunday date, @EndSaturday date,
        @WeekBack int = 52, @WeekForward int = 26;

select @CurrentSunday = TheStartingSunday
from pbi.calendar
where TheDate = cast(GETDATE() as date);

select @StartSunday = cast(dateadd(week, -@WeekBack, @CurrentSunday) as date);

select @EndSaturday = cast(dateadd(day, 6,
         dateadd(week, @WeekForward - 1, @CurrentSunday)) as date);

drop table if exists #demand_main
------- relying on demand date range
--select m.CUSTNMBR, m.SKU as ITEMNMBR, m.WeekDate
--, m.PromoProj, isnull(p.Proj,0) as UserSetProjection
--into #demand_main 
--from pbi.als_demand_tab m
--left join SHSTGDB.dmd.projection p
--on m.WeekDate = p.Proj_Dt and m.CUSTNMBR = p.Account_ID and m.SKU = p.Product_ID

------- custom date range
select p.Account_ID as CUSTNMBR, p.Product_ID ITEMNMBR, p.Proj_Dt as WeekDate
, p.Promo_Proj PromoProj, isnull(p.Proj,0) as UserSetProjection
into #demand_main
from SHSTGDB.dmd.projection p
where Proj_Dt between @StartSunday and @EndSaturday
option (recompile);  -- local vars defeat cardinality estimation; recompile embeds runtime dates for a good plan

drop table if exists #ratiolist
select *
into #ratiolist
from dmd.allocation_ratio_with_default_values


drop table if exists #total_projection_allocation
	select CUSTNMBR, ITEMNMBR, WeekDate, Warehouse
	,sum(PromoProj) as PromoProj
	,sum(UserSetProjection) as Projection
	--,sum(FinalProjection) as FinalProjection 
	into #total_projection_allocation
	from (
	select distinct custnmbr, ITEMNMBR, WeekDate, isnull(r1.warehouse,r2.warehouse) as Warehouse
	,round(cast(PromoProj as float)*cast(isnull(r1.ratiovalue,r2.ratiovalue) as float),2) as PromoProj
	,round(cast(UserSetProjection as float)*cast(isnull(r1.ratiovalue,r2.ratiovalue) as float),2) as UserSetProjection
	--,round(cast(Final_Projection as float)*cast(isnull(r1.val,r2.val) as float),2) as FinalProjection
	from #demand_main d
	left join #ratiolist r1
	on d.CUSTNMBR = r1.AccountID and d.ITEMNMBR = r1.ProductID and r1.ProductID<>'-'
	left join #ratiolist r2
	on d.CUSTNMBR = r2.AccountID and r2.ProductID = '-'
	) dis
	group by custnmbr,ITEMNMBR, WeekDate, warehouse


	SELECT CUSTNMBR,ITEMNMBR,WeekDate,Warehouse, ProjType,Proj
	FROM
	(
	  SELECT *
	  FROM #total_projection_allocation
	) AS cp
	UNPIVOT 
	(
	  Proj FOR ProjType IN ( PromoProj,Projection)
	) AS war
	-- The warehouse allocation is dense: every (customer, SKU, week) gets a row
	-- per warehouse even when its ratio share is 0. Those zero rows are ~88% of
	-- the result and carry no signal (the PowerBI exports omit them too), so
	-- drop them here instead of shipping them over the wire.
	where Proj <> 0;



